
*,
*::before,
*::after {
  box-sizing: border-box;
  margin:5;
  padding:0;
} 
body {
  background-color: #f4d58d;
  /*background-image:
    radial-gradient(circle at 20px 20px, #aa406c 10%, transparent 11%),
    radial-gradient(circle at 60px 40px, #a94a45 10%, transparent 11%),
    radial-gradient(circle at 100px 80px, #9b3e97 10%, transparent 11%),
    radial-gradient(circle at 25px 70px, #963838 10%, transparent 11%);
  background-size: 120px 120px;
  background-repeat: repeat;*/
  color:#3b0907; 
  max-width:1920px;
  margin-inline:auto;
  font-family: 'Roboto', sans-serif;
}

#leopardCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;         
  opacity: 0.4;        
  width: 100vw;
  height: 100vh;
}


.name{ 
    text-transform: uppercase;
    font-size: 24px;
    font-family:"Teko",sans-serif;
}    
header{
  display:flex;
  justify-content:space-between;
  padding:20px;
}


.opening-content{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:40px 40px;
  gap:40px;
}


.opening-text{
  width:50%; 
  font-size:64px;
  font-family: 'Teko', sans-serif;
  text-transform:uppercase;
  text-align:center;
}
.info-content-wrapper{
  padding:0 40px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:40px;
}


.info-text{
  width:50%;
}

.info-heading{
  font-family: 'Teko', sans-serif;
  text-transform:uppercase;
  font-size:35px;
  color:#000000;
  margin-bottom: 20px;
}

.info-paragraph{
  font-size:20px;
  line-height:1.0;
}

.info-sub-heading{
   font-size:10px;
   font-family: 'Teko', sans-serif;
}





