
*,
*::before,
*::after {
  box-sizing: border-box;
  margin:5;
  padding:0;
} 
body {
  background-color: #f4d58d;

  color:#3b0907; 
  max-width:1920px;
  margin-inline:auto;
  font-family: 'Roboto', sans-serif;
}

#leopardCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;         
  opacity: 0.4;        
  width: 100vw;
  height: 100vh;
}
                               

.name{ 
    text-transform: uppercase;
    font-size: 24px;
    font-family:"Teko",sans-serif;
}    
header{
  display:flex; 
  justify-content:space-between;
  padding:20px;
}
.nav-link-1{
  font-size:20px;
  text-transform:uppercase;
  text-decoration:none;
  font-family: 'Teko', sans-serif;
  color: #000000;
  border: solid 4px #fff;
  border-radius: 50px;
  padding:6px 8px;
  display:inline-block
}

.nav-link-2{
  font-size:20px;
  text-transform:uppercase;
  text-decoration:none;
  font-family: 'Teko', sans-serif;
  color: #000000;
  border: solid 4px #fff;
  border-radius: 50px;
  padding:6px 8px;
  display:inline-block
}

.nav-link-3{
  font-size:20px;
  text-transform:uppercase;
  text-decoration:none;
  font-family: 'Teko', sans-serif;
  color: #000000;
  border: solid 4px #fff;
  border-radius: 50px;
  padding:6px 8px;
  display:inline-block

}
  

.opening-content{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:40px 40px;
  gap:40px;
}


.opening-text{
  width:50%; 
  font-size:64px;
  font-family: 'Teko', sans-serif;
  text-transform:uppercase;
  text-align:center;
}
.info-content-wrapper{
  padding:0 40px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:40px;
}


.info-text{
  width:50%;
}

.info-heading{
  font-family: 'Teko', sans-serif;
  text-transform:uppercase;
  font-size:35px;
  color:#000000;
  margin-bottom: 20px;
}

.info-paragraph{
  font-family: 'Teko', sans-serif;
  font-size:20px;
  line-height:1.0;
}

.info-sub-heading{
   font-size:30px;
   font-family: 'Teko', sans-serif;
   color:#fff;
}

.reverse{
  flex-direction:row-reverse;
}
footer{
  text-align:center;
}

.hero-btn-wrapper{
  text-align:center;
  margin-bottom:40px;
}

.hero-btn{
  font-size:24px;
  text-transform:uppercase;
  text-decoration:none;
  font-family: 'Teko', sans-serif;
  text-align:center;
  color: #fff;
  border: solid 4px #fff;
  border-radius: 50px;
  padding:10px 20px;
  display:inline-block;
  
}
.hero-btn:hover{
  background-color:#fff;
  color:#000000;
}
